body{
   		/*background-image:url({{url_for("static", filename="img/2206_A1.jpg")}});*/
   		/*background-color: red;*/
   		background-image:url("../img/2206_A1.jpg");
		background-repeat: no-repeat;
		/*background-size: 100% 100%;*/
		background-size: cover;

}
.login{
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
}

.login_1{
    text-align: center;
}
.menu{
    margin-top: -100px;
    text-align: center;
}

.write{
    margin-top: -100px;    text-align: center;
}
.read{
    text-align: center;margin-top: -100px;
}
.read_emoncms{
    margin-top: -100px;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
  opacity: 0.5;
}

li {
  float: left;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #cbcbcb;
}


li a {
display: inline-block;
color: rgb(0, 0, 0);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-weight: bold;
opacity: 1;

}
