<!DOCTYPE html>
<html lang="en">
<html lang="pt-PT">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ecopool+++</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
<nav>
        <ul>
            <li><a href="historico">Dashboard</a></li>
            <li><a href="read_plc">Read value in plc</a></li>
            <li><a href="write_plc">Write value in plc</a></li>
            <li><a href="read_emcms">Read value in emoncms</a></li>
            <li><a href="">Operating mode</a></li>
            <li><a href="register">Registro</a></li>
            <li><a href="profile">Profile</a></li>
            </ul>
  </nav>
</body>
</html>