<nav>
      <ul>
        <li>
          <form action="read_plc" method="get">
              <div class="form-floating mb-2">
                 <input type="submit" class="btn btn-outline-dark" style="min-width:200px" value="Read value in plc">
              </div>
          </form>
        </li>
        <li>
          <form action="write_plc" method="post">
              <div class="form-floating mb-2">
                 <input type="submit" class="btn btn-outline-dark" style="min-width:200px" value="Write value in plc">
              </div>
          </form>
        </li>
        <li>
          <form action="read_emcms" method="get">
               <div class="form-floating mb-2">
                 <input type="submit" class="btn btn-outline-dark" style="min-width:200px" value="Read value in emoncms">
               </div>
          </form>
        </li>
        <li>
          <form action="" method="post">
               <div class="form-floating mb-2">
                 <input type="submit" class="btn btn-outline-dark" style="min-width:200px" value="Operating mode">
               </div>
          </form>
        </li>
        <li>
          <form action="historico" method="get">
               <div class="form-floating mb-2">
                 <input type="submit" class="btn btn-outline-dark" style="min-width:200px" value="Dashboard">
               </div>
          </form>
        </li>
        <li>
          <form action="profile_page" method="get">
               <div class="form-floating mb-2">
                 <input type="submit" class="btn btn-outline-dark" style="min-width:200px" value="Profile">
               </div>
          </form>
        </li>
        </ul>
</nav>
