<!DOCTYPE html>
<html lang="en">
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>READ PLC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   <nav>
      <ul>
          <li><a href="historico">Dashboard</a></li>
          <li><a href="read_plc">Read value in plc</a></li>
          <li><a href="write_plc">Write value in plc</a></li>
          <li><a href="read_emcms">Read value in emoncms</a></li>
          <li><a href="">Operating mode</a></li>
          <li><a href="register">Registro</a></li>
          <li><a href="profile">Profile</a></li>
          </ul>
</nav>
      <div class="container mt-4" style="margin-bottom:15%">
			<div class="row align-items-center" style="margin-top:15%">
			   <div class="col-md-5 mx-auto col-lg-5">
                   <div class="read">
                      <form action="/read_plc" method="get">
                          <div class="form-floating mb-3">
                       	    <input type="text" class="btn btn-outline-dark" name="setpoint" placeholder="Set-point = {{setpoint}} ºC">
  						    <label for="setpoint"></label>
					      </div>
                          <div class="form-floating mb-3">
                       	     <input type="text" class="btn btn-outline-dark" name="diferencial" placeholder="Diferencial &Delta;T = {{diferencial}} ºC">
  						     <label for="diferencial"></label>
                          </div>
                          <div class="form-floating mb-3">
                       	     <input type="text" class="btn btn-outline-dark" name="cenario" placeholder="Cenario = {{cenario}}">
  						     <label for="cenario"></label>
                          </div>
                      </form>
                   </div>
               </div>
            </div>
      </div>
</body>
</html>