<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHANGE PARAMETERS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
      <div class="container mt-4" style="margin-bottom:15%">
			<div class="row align-items-center" style="margin-top:15%">
			   <div class="col-md-10 mx-auto col-lg-5">
                   <div class="write">
                       <form action="/write_plc" method="post">
                           <div class="form-floating mb-3">
                       	      <input type="text" class="btn btn-outline-dark" name="setpoint" placeholder="Set-point [ºC]">
  						      <label for="setpoint"></label>
					       </div>
                           <div class="form-floating mb-3">
                       	      <input type="text" class="btn btn-outline-dark" name="diferencial" placeholder="Diferencial &Delta;T[ºC]">
  						      <label for="diferencial"></label>
                           </div>
                           <div class="form-floating mb-3">
                            <select name="cenario" class="btn btn-outline-dark">
                                <option value="" disabled selected hidden>Escolha um cenário</option>
                                <option value="0">Stall (no water circulation)</option>
                                <option value="1">Solar => PCM</option>
                                <option value="2">Solar => Pool</option>
                                <option value="3">PCM => Pool</option>
                                <option value="4">Solar and PCM => Pool</option>
                                <option value="5">Collecting floors => Pool
                                </option>
                                <option value="6">Solar and Collecting floors => Pool
                                </option>
                                <option value="7">PCM and Collecting floors => Pool</option>
                                <option value="8">Solar and PCM e Collecting floors => Pool
                                </option>
                                <option value="9">Solar=> Geo

                                </option>
                                <option value="10">Geo => Pool

                                </option>
                                <option value="11">Solar and Geo => Pool

                                </option>
                                <option value="12">PCM and Geo => Pool
                                </option>
                                <option value="13">Solar and PCM e Geo => Pool
                                </option>
                                <option value="14">Collecting floors and Geo => Pool
                                </option>
                                <option value="15">Solar and Collecting floors and Geo => Pool
                                </option>
                                <option value="16">PCM and Collecting floors and Geo=> Pool
                                </option>
                                <option value="17">Solar and PCM and Collecting floors and Geo => Pool
                                </option>
                           </div>
                           <button class="btn btn-outline-dark" type="submit">change</button>
                       </form>
                   </div>
               </div>
            </div>
      </div>
</body>
</html>